/* Empty. Add your own CSS if you like */

body {
	background-color: #FCE8D1;
}

.switches {
	position: relative;
	top: 40px;
}

.figin {
	padding-top: 20px;
	position: relative;
	top: 60px;
}

.card { 
	margin-top: 20px;
	margin-bottom: 50px;
	text-align: center;
 }


 .submit {
 	position: relative;
 	top: 100px;
 }


#ans {
	font-size: 20px;
	text-align: center;
}

